{
    margin: 0;
    padding: 0;
}
.container{
    margin: 50px 5%;
    background-color: rgb(159, 159, 204);
}
.top-banner{
    display: flex;
    background-color: rgb(159, 159, 204);
    height:29.84375vw;
}
.left-banner{
    width: 60%;
}
.left-banner h1{
    color: gray;
    font-weight: 700;
    font-size:  4.296875vw;
    margin-bottom: 8px;
    padding: 1.796875vw  6.640625vw;
}
.left-banner p{
    font-size: 1.25vw;
    margin-bottom: 1.5625vw;
    color: #FFFFFF;
    padding: 1.796875vw 6.640625vw;
}
.left-banner a{
    margin: 3.125vw 6.640625vw;
    text-decoration: none;
    background: #DD0000;
    border-radius: 5px;
    padding: 0.9375vw 1.953125vw;
    border: none;
    color: white;
}
.right-banner{
    width: 30%;
    margin-top: 3.203125vw;
}
.right-banner{
    background-image: url(../assets/banner.png);
    background-repeat: no-repeat;    
}

@media screen and (min-width:687px) and (max-width:991px) {






}




